body {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box
}

.Board{
  width: 100%;
  border: 1px solid aqua; 
}

html{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1{
  text-align: center
}
.navigation{
  margin-bottom: 50px;
  background-color: gray;
  text-align: center
}

.LoginForm{
  margin-right: auto;
  margin-left: auto;
 text-align: center;
 padding-top: 55px
}

.RegistrationForm{
  margin-right: auto;
  margin-left: auto;
 text-align: center;
 padding-top: 55px
}

.wrapper{
    margin: 30px;
    text-align: center;
  }


section{
  text-align: center
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

button{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
}

.add-board{
    width: 150px;
  height: 100px;
   font-size: 18pt;
  margin-bottom: 50px
}

.boards{
  text-align: center
}

.scoreboard{
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 25px;
}

.player{
  margin-bottom: 25px
}

.add{
  margin-bottom: 20px
}

.score{
  width: 50px
}



.support{
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px
}


.footer {
  text-align: center;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0px;
}

.content{
  width: 500px;
  height: 250px;
}

@media only screen and (max-width: 600px){

}