body {
  background: rgba(0, 0, 0, 0) url("./images/bg1.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: "Walter Turncoat", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: goldenrod;
  margin-right: auto;
  margin-left: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

#borderimg {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.Board {
  width: 100%;
  border: 10px solid white;
}

html {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.logout{
  margin-left: 45px;
}

li {
  padding-left: 10px;
}

.spacer {
  text-align: center;
  padding: 30px
}

h1 {
  text-align: center;
  padding-bottom: 30px;
}

.app-title {
  font-size: 35px;
}

h2 {
  font-size: 35px;
}

.navigation {
  background: url(images/weclome-back.jpg) no-repeat center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
  text-align: center;
  font-size: 12pt;
}

.menu {
  padding: 25px;
  display: inline-flex
}

.LoginForm {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 55px
}

.RegistrationForm {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 55px
}

form {
  padding-top: 100px;
}

.wrapper {
  margin: 30px;
  width: 500px;
  height: 500px;
  text-align: center;
  border: 2pt solid;
  margin-left: auto;
  margin-right: auto
}

.menu-wrapper {
  padding-top: 40px;
  margin: 30px;
  width: 300px;
  height: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.board-list{
  margin-top: 70px;
}

.tableWrapper {
  padding-top: 50px;
  width: 800px;
  margin-left: auto;
  margin-right: auto
}

section {
  text-align: center
}

.menu-select{
  background: url(images/download.jpeg) no-repeat center;
}

.title {
  padding-bottom: 40px;
}

.divTable, .divTableBody {
  display: block;
  width: 100%;
}

.divTableBody a {
  color: goldenrod
}

.divTableBody a:visited {
  color: grey
}

.divTableRow, .divTableHeading {
  display: block;
  width: 100%
}

.divTableHeading {
  background-color: #EEE;
}

.divTableCell, .divTableHead {
  border: 3px solid white;
  display: inline-block;
  padding: 10px 10px;
  width: 15%;
  color: white;
}

.divTable .lastCell {
  display: inline-block;
}

.logout{
  float: left;
}


button {
  font-family: "Walter Turncoat", cursive;
  padding: 5px;
  display: inline-block;
  border-radius: 9px;
  border-color: goldenrod;
  color: goldenrod;
  background-color: black;
}

.new-board {
  font-size: 24pt;
  margin-right: auto;
  margin-left: auto;
}

.submit {
  font-size: 24pt;
}

button:hover {
  color: white
}

.button-spacer {
  display: inline-flex;
  margin: 5px;
}

.button-wrapper{
  margin-top: 30px;
}

a {
  color: goldenrod;
}

a:hover {
  color: white;
}

.question-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.answer-container {
  padding-bottom: 15px;
}

.question-area {
  width: 450px;
  height: 300px;
}

.reveal {
  font-size: 24pt;
}

.add-board {
  width: 150px;
  height: 100px;
  font-size: 18pt;
  margin-bottom: 50px
}

.boards {
  text-align: center
}

.scoreboard {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 25px;
}

.player {
  margin-bottom: 25px
}

.add {
  margin-bottom: 20px
}

.score {
  width: 50px
}

li {
  list-style: none;
  margin-bottom: 30px;
}

.category-box {
  margin-left: auto;
  margin-right: auto;
}

.support {
  background: url(images/1991998.jpg) no-repeat center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  width: 80
}

.content {
  width: 250px;
  height: 250px;
}

.sort {
  float: right;
}



.footer {
  text-align: center;
  background-color: black;
  color: white;
  position: fixed;
  /* margin-top: 290px; */
  bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    margin: 30px;
    width: 500px;
    height: 500px;
    text-align: center;
    border: 2pt solid;
    margin-left: auto;
    margin-right: auto
  }
  .menu-wrapper {
    padding-top: 40px;
    margin: 30px;
    width: 300px;
    height: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .tableWrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
 
  .divTable, .divTableBody {
    display: block;
    width: 100%;
  }
  .divTableBody a {
    color: goldenrod
  }
  .divTableBody a:visited {
    color: grey
  }
  .divTableRow, .divTableHeading {
    display: block;
    width: 100%
  }
  .divTableHeading {
    background-color: #EEE;
  }
  .divTableCell, .divTableHead {
    border: 3px solid white;
    display: inline-block;
    padding: 10px 10px;
    width: 15%;
    color: white;
  }
  .divTable .lastCell {
    display: inline-block;
  }
  .content {
    width: 500px;
    height: 250px;
  }
  .footer {
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    margin-top: 290px;
    bottom: 0px;
  }
  .support {
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px
  }
}

@media only screen and (min-width: 1024px) {}